.coins {
  thead > tr {
    background-color: #333;

    a {
      color: #fff;

      &:hover {
        color: #ccc;
      }
    }
  }

  .coin {
    background-color: $table-tr-background-color;
    color: #000;
  }

  .coin:nth-of-type(odd) {
    background-color: $table-tr-background-color-odd;
  }

  .coin {
    //display: flex;

    & > div {
      flex-grow: 1;
    }

    .name {
      //display: flex;
      //flex-direction: row;
      //text-align: left;
      //flex-grow: 2;

      img {
        width: 30px;
        height: 30px;
      }

      span {
        margin-left: 5px;
        margin-top: 5px;
      }
    }

    .price {
      //display: flex;
      //flex-direction: row;
      margin: 5px 50px;

      &.trend- {
        &higher {
          color: green;
        }
        &lower {
          color: red;
        }
        &equal {
          color: blue;
        }
      }
    }

    .actions {
      margin-top: 5px;
      color: red;
      text-align: right;

      & > a {
        margin: 0 5px;
      }

      .remove {
        color: grey;

        &:hover {
          color: red;
        }
      }

      .alert {
        color: grey;

        &:hover {
          color: green;
        }
      }
    }
  }
}

form {
  input[type="submit"],
  input[type="submit"]:active {
    background: $navbar-color;
    color: #fff;
    margin: 10px auto;
    width: 100%;

    &:hover {
      background: lighten($navbar-color, 15);
      color: #fff;
    }
  }
}
