$navbar-color: #393a3b;
$lighter-navbar-color: #6b6f72;
$font-color: #c9cdd1;
$blue-color: #011525;

body {
  color: #fff;
}

a {
  color: $font-color;
}

a:hover {
  color: #fff;
}

.app-container {

}

.navbar {
  background: $navbar-color;
  padding: 30px 10px;
  margin: 0;
  display: flex;

  h1 {
    font-size: 1.2em;
    margin: 0;
  }

  .title {
    display: flex;
    flex-direction: row;
    width: 20%;
  }

  .content {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
}

.main-container {
  width: 100%;
  padding: 30px 10px;
  background: $font-color;
}

.coin {
  display: flex;
  .name {
    display: flex;
    flex-direction: row;
    text-align: left;

    img {
      width: 30px;
      height: 30px;
    }

    span {
      margin-left: 5px;
      margin-top: 5px;
    }
  }

  .price {
    display: flex;
    flex-direction: row;
    margin: 5px 50px;
  }

  .actions {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    color: red;
    text-align: right;

    & > span {
      cursor: pointer;
    }
  }
}
