$navbar-color: #393a3b;
$lighter-navbar-color: #6b6f72;
$content-background-color: rgba(0, 0, 0, 0.3);
$footer-background-color: rgba(0, 0, 0, 0.6);
$font-color: #c9cdd1;
$blue-color: #011525;

@import "tabs";
@import "icos";
@import "coins";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
}

a,
a:active,
a:focus,
a:visited {
  color: $font-color;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.navbar {
  background: $navbar-color;
  padding-top: 30px;
  margin: 0;

  h1 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 15px;
    color: #fff;
  }

  .title {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .content {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
  }

  .link-settings {
    font-size: 16px;
  }

  .top-container {
    display: flex;
    flex-direction: row;
  }

  .top-container {
    padding: 0 10px;
  }
}

.main-container {
  background: $content-background-color;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.column-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  background: $footer-background-color;
}
