version: 2
jobs:
  build:
    macos:
      xcode: '9.0'

    steps:
      - checkout

      # Install CocoaPods
      - run:
          name: Install dependencies
          command: yarn install

      # Build the app and run tests
      - run:
          name: Build and run tests
          command: yarn test
      # Collect XML test results data to show in the UI,
      # and save the same XML files under test-results folder
      # in the Artifacts tab
#      - store_test_results:
#          path: test_output/report.xml
#      - store_artifacts:
#          path: /tmp/test-results
#          destination: scan-test-results
#      - store_artifacts:
#          path: ~/Library/Logs/scan
#          destination: scan-logs
